<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.myproject.adminuser.mapper.SysUserRoleMapper">
    <!--<cache type="org.mybatis.caches.RedisCache" />-->
    <resultMap type="SysUserRole" id="resultMap">
        <id property="id" column="ID" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="role_id" property="roleId" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="SMALLINT" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="INTEGER" />
    </resultMap>

    <insert id="addSysUserRole" parameterType="SysUserRole" >
        insert into sys_user_role(user_id,role_id,create_time,status,version)
        VALUES (#{userId},#{roleId},#{createTime},#{status},#{version})
    </insert>

    <delete id="deleteSysUserRole" parameterType="String">
        delete from sys_user_role where user_id = #{userId}
    </delete>

    <select id="findSysUserRoleByUserId" parameterType="String" resultMap="resultMap">
        select user_id,role_id,status,create_time,version from sys_user_role where user_id=#{userId} group by role_id
    </select>

    <update id="updateSysUserRole" parameterType="SysUserRole">
        update sys_user_role
        <trim prefix="set" suffixOverrides=",">
            <if test="roleId != null">role_id = #{roleId},</if>
            <if test="version != null">version = version + 1 ,</if>
        </trim>
        where user_id = #{userId}
        <if test="version != null">AND version = #{version}</if>
    </update>

 </mapper>
