<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.myproject.api.user.mapper.UserMapper">
    <!--<cache type="org.mybatis.caches.redis.RedisCache" />-->
    <resultMap type="User" id="resultMap">
        <id property="id" column="ID" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="SMALLINT" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="INTEGER" />

        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="login_name" property="loginName" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
        <result column="accid" property="accid" jdbcType="VARCHAR" />
        <result column="accid_token" property="accidToken" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectById"  resultMap="resultMap" parameterType="java.lang.Integer">

    </select>
    <select id="selectByLoginName"  resultMap="resultMap" parameterType="java.lang.String">
      select user_id,login_name,user_name,password,nick_name,status,create_time,version,accid,accid_token from user where login_name = #{value}
    </select>
    <insert id="insert" parameterType="User" >
      insert into user(user_id,login_name,user_name,nick_name,phone,email,password,pay_password,real_name,id_num,accid,accid_token,status,version,create_time)
      VALUES (#{userId},#{loginName},#{userName},#{nickName},#{phone},#{email},#{password},#{payPassword},#{realName},#{IDNum},#{accid},#{accidToken},#{status},#{version},#{createTime})
    </insert>
    <update id="updateAccId">
        update user set accid=#{accid},accid_token=#{accidToken} where login_name = #{loginName}
    </update>
</mapper>
