<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.waicaibao.user.mapper.UserMapper">
    <cache type="org.mybatis.caches.redis.RedisCache" />
    <resultMap type="User" id="resultMap">
        <id property="id" column="ID" jdbcType="BIGINT" />
        <result property="name" column="NAME" jdbcType="VARCHAR" />
        <result property="cnName" column="CN_NAME" jdbcType="VARCHAR" />
        <result property="password" column="PASSWORD" jdbcType="VARCHAR" />
        <result property="userStateValue" column="USER_STATE" jdbcType="TINYINT" />
        <result property="mobilePhone" column="MOBILE_PHONE" jdbcType="VARCHAR" />
        <result property="registerTime" column="REGISTER_TIME" jdbcType="TIMESTAMP" />
        <result property="md5Key" column="MD5_KEY" jdbcType="VARCHAR" />
        <result property="avator" column="AVATOR" jdbcType="VARCHAR" />
        <result property="qrCode" column="QR_CODE" jdbcType="VARCHAR" />
        <result property="registerTypeValue" column="REGISTER_TYPE" jdbcType="TINYINT" />
        <result property="sexValue" column="SEX" jdbcType="TINYINT" />
        <result property="userHobby" column="USER_HOBBY" jdbcType="VARCHAR" />
        <result property="userIndustry" column="USER_INDUSTRY" jdbcType="BIGINT" />
        <result property="birthday" column="BIRTHDAY" jdbcType="TIMESTAMP" />
        <result property="age" column="AGE" jdbcType="INTEGER" />
        <result property="provinceId" column="PROVINCE_ID" jdbcType="BIGINT" />
        <result property="cityId" column="CITY_ID" jdbcType="BIGINT" />
        <result property="countyId" column="COUNTY_ID" jdbcType="BIGINT" />
        <result property="updateAreaTime" column="UPDATE_AREA_TIME" jdbcType="TIMESTAMP" />
        <result property="streetId" column="STREET_ID" jdbcType="BIGINT" />
        <result property="invitationCode" column="INVITATION_CODE" jdbcType="BIGINT"/>
        <result property="idCardNo" column="ID_CARD_NO" jdbcType="VARCHAR"/>
        <result property="idCardPicture" column="ID_CARD_PICTURE" jdbcType="VARCHAR"/>
        <result property="idCardPersonPicture" column="IDCARD_PERSON_PICTURE" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectById"  resultMap="resultMap" parameterType="java.lang.Long">
      select * from iit_user where id = #{id}
    </select>
    <select id="select" resultMap="resultMap">
        select * from iit_user where id &lt; 100
    </select>
</mapper>
